.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.Title .Title__line {
  height: 3px;
  width: 100%;
  background: #c4f1b4;
  background: linear-gradient(135deg, #c4f1b4 0%, #40b2ae 100%);
  margin-bottom: 50px;
  border: 1px solid #EFEFEF; }
