.card{
    padding: 15px ;
    &__description{
        position: relative;
        z-index: 1;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: url('../../../images/pokeball.png');            
            background-repeat: no-repeat;
            background-position: 62% 40%;
            background-size: 90px 90px;
            opacity: 0.3;
            z-index: -1;
        }
        &__top{

            display: flex;            
            &__img{
                transform: scale(1.2);
                
            }
            span{
                line-height: 1;
            }
            &__data{
                display: flex;
                flex-direction: column;
                justify-content:center;
                font-size: 12px;
                margin-left: 10px;

                &__id{
                    font-size: 8px ;
                }

                &__name{
                    font-weight: bold;
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }
            }
            &__size{
                display: flex;
                flex-direction: column;
                justify-content:center;
                margin-left: 30px;
                padding-bottom: 15px;
                font-size: 8px;
            }

        }
        &__bottom{
            font-size: 10px;
        }
    }
    .stats{
        margin-top: 10px;
        &__line{
            height: 1px ;
            background-color: #E5E5E5;
            width: 100%;
            position: relative;
            margin-bottom: 20px;
            &::after{
                content:'STATISTICS';
                position: absolute;
                font-size: 10px;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
                top:-7px;
                width: 70px;
                text-align: center;

            }
        }
        .stat{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__name{
                color:#A9A19D;                
            }
            .progress{
                // position: relative;
                width: 160px;
                height: 1em;
                .stat_percentage{
                    line-height: 0.9;
                    margin-left: -23px;
                    color: white;
                }
            }
        }
    }
}