.card {
  padding: 15px 20px;
  position: relative; }

@media (min-width: 786px) {
  .card {
    transform: scale(1.2); } }

@media (min-width: 1200px) {
  .card {
    transform: scale(1.4); } }

.card .closeBtn {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #D8D8D8;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: bold; }

.card__description {
  position: relative;
  z-index: 1; }

.card__description::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../../images/pokeball.png");
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 90px 90px;
  opacity: 0.3;
  z-index: -1; }

.card__description__top {
  display: flex;
  justify-content: space-around; }

.card__description__top__mainData {
  display: flex;
  justify-content: center;
  align-items: center; }

.card__description__top__mainData__img {
  max-height: 100px;
  max-width: 100px; }

.card__description__top__mainData__data {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1; }

.card__description__top__mainData__data__id {
  font-size: 12px; }

.card__description__top__mainData__data__name {
  font-weight: bold; }

.card__description__top__mainData__data__name::first-letter {
  text-transform: uppercase; }

.card__description__top__size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  padding-bottom: 15px;
  font-size: 8px; }

.card__description__bottom {
  font-size: 10px; }

.card .stats__line {
  margin-top: 15px;
  height: 1px;
  background-color: #E5E5E5;
  width: 100%;
  position: relative;
  margin-bottom: 10px; }

.card .stats__line::after {
  content: 'STATISTICS';
  position: absolute;
  font-size: 10px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  width: 70px;
  text-align: center; }
