.modal-wrapper{
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
    z-index: 100;

    .close__modal{
        
background: rgb(196,241,180);
background: linear-gradient(135deg, rgba(196,241,180,1) 0%, rgba(64,178,174,1) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0.85;
    }
    .modal__container{        
        z-index: 100;
        
    }
}