.stats {
  margin-top: 10px;
  width: 300px; }
  .stats .stat {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .stats .stat__name {
      color: #A9A19D; }
    .stats .stat .progress {
      width: 160px;
      height: 1em; }
      .stats .stat .progress .stat_percentage {
        line-height: 0.9;
        margin-left: -23px;
        color: white; }
