$tablet:786px;
@mixin tablet {
    @media ( min-width: #{$tablet} ) {
        @content;
    }
}

$desktop:1200px;
@mixin desktop {
    @media ( min-width: #{$desktop} ) {
        @content;
    }
}

.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    .icon{
        position: relative;
        left: 27px;
        top: 10px;
        z-index: 10;
        
    }
    &__input{
        padding: 10px 10px 10px 35px;
        width: 85%;
        border: 1px solid #EFEFEF;
        outline: none;
        position: relative;
        @include tablet{
            max-width: 780px;
        }

       
    }
}